{{! OTHER PROJECTS PAGE}}
<!DOCTYPE html>

<html>
    <title>Other Projects</title>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <div class="main-content">

        {{>header}}

        <p>{{Projects}}</p>
          <ul id="floated"><input type="button" value="Portfolio" onclick="window.location.href='https://jadb.me'"></ul>
          <ul id="floated"><input type="button" value="Contact me" onclick="parent.location='mailto:jad_mohammad@hotmail.com'"></ul>
        </div>

        {{>footer}}
    </body>

    
</html>